.big-boi-link {
  font-family: 'Lato', sans-serif;
  transition: 0.5s ease-in-out;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 160px;
  max-width: 500px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 160px;
  margin: 20px;
	text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.big-boi-link:before {
  transition: 0.5s ease-in-out;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.big-boi-link:hover:before {
  transition: 0.5s ease-in-out;
  z-index: -1;
  transform: translateX(0);
}
.links{
  width: 60%;
  height: 40vh;
  position: absolute;
  left: 20%;
  top: 50vh;
  display: flex;
}
#landing{
  height: 100vh;
  background: transparent;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.l-title{
  position: relative;
  top: 25vh;
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
}

.l-desc{
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  position: relative;
  top: 26vh;
}


/*Light Dark Theme CSS*/
@media (prefers-color-scheme: dark) {
  .l-desc{
    color: white;
  }
  .l-title{
    color: white;
  }
  .big-boi-link{
    color: white;
    border: 1px solid rgba(255,255,255,0.5);
  }
  .big-boi-link:hover {
  color: #000000;
  }
  .big-boi-link:before{
    background: white;
  }
}

@media (prefers-color-scheme: light) {
  .big-boi-link{
    color: black;
    border: 1px solid rgba(0,0,0,0.5);
  }
  .big-boi-link:hover {
    color: #fff;
  }
  .big-boi-link:before{
    background: black;
  }
}