.comet {
  z-index: 10;
  width: 5px;
  height: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
}
@keyframes comet {
  from {
    transform: translateY(0px) translateX(0px) rotate(135deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(2560px) translateX(2560px) rotate(135deg);
    opacity: 1;
    height: 800px;
  }
}